.bg-header {
    background-color: #414141;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 144px;
}

.menu {
    display: flex;
}

.dropdown {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    z-index: 9;
    background-color: #777777;
}
.item-dropdown {
    padding: 10px 16px;
    border-bottom: 2px  dotted;
    border-color: #777777;
}

.text-dropdown {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0;
    text-decoration: none;
}

.text-menu {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: white;
    margin: 0;
}

.icon-menu {
    margin: 8px;
    width: 32px;
}

.btn-menu {
    margin-left: 32px;
    position: relative;
}

.text-label {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.11px;
    color: #FFCC21;
    margin-bottom: 0;
}

.recommended {
    padding: 24px 24px 22px 24px;
    background-color: #2E2E2E;
    text-align: center;
    width: 23%;
}

.text18 {
    font-size: 18px;
    margin: 0;
}

.text15 {
    font-size: 15px;
    margin: 0;
}

.hr {
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #FFFFFF;
    margin-top: 10px;
    margin-bottom: 8px;
}

.card-colum {
    width: 24%;
}

.date {
    padding: 3px 8px;
    background-color: #FFCC21;
    position: absolute;
    bottom: 0;
}

.text-date {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.dots {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.075px;
    color: #414141;
}

.text-colum {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.06px;
    color: #FF963C;
}

.btn-more {
    background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
    display: inline-block;
    padding: 10px 50px;
    border-radius: 5px;
    margin-top: 10px;
}

.text-more {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}

.filter {
    background: linear-gradient(155.89deg, #FFCC21 8.26%, #FF963C 91.18%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 116px;
    height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-icon {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.records {
  
    position: relative;
    width: 30%;
    padding-top: 30%;
    background-color: #FFCC21;
}

.card-records {
    position: absolute;
    top: 7.5%;
    left: 7.5%;
    width: 85%;
    height: 85%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.text-label-records {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.125px;
    color: #FFCC21;
    margin-bottom: 0;
    z-index: 99;
}

.img-records {
    width: 100%;
    height: 100%;
    mix-blend-mode: luminosity;
    opacity: 0.25;
    background-size: cover;
}

.text-records {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF963C;
    padding: 3px 10px;
    display: inline-block;
    margin-top: 10px;
}

.text-footer {
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.033px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.bg-footer {
    background-color: #414141;
    bottom: 0;
    width: 100%;
    padding: 50px 0;
    margin-top: 50px;
}

.scrollTop {
    position: fixed;
    right: 30px;
    bottom: 50%;
}